.MenuList {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5px;
    /* background-color: #f0f2f5; */
  }
  
.Menu {
    background-color: #fff;
    color: #000;
    margin-right: 0px;
    padding: 0px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
  }

.priView{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 82%;
    /* background-color: #08adfc; */
}

.top_menu {
  position: relative;
  height: 65px;
  width: 97%;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo span:first-child {
  margin-right: 10px;
  font-size: 14px;
}

.userInfo span:last-child {
  font-size: 14px;
  color: #666;
}

.userInfo::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  opacity: 0.5;
}