.search_top {
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
    padding-top: 10px;
    /* background-color: #0854ad; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.data_middle {
    width: 100%;
    height: 75%;
    margin-top: 5px;
    overflow: auto;
    /* background-color: #806440; */
    /* justify-content: center; */
    display:block;
    /* align-items: center; */
}

.paging_button {
    width: 100%;
    height: 10%;
    margin-top: 5px;
    display: flex;
    /* background-color: #1054df; */
    justify-content: center;
    align-items: center;
}

.data_middle {
    max-height: 100%;
}

/* DynamicTable.css */
.data_middle table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.data_middle th,
td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #001;
    font-size: 16px;
}

.data_middle th {
    font-weight: bold;
    background-color: #1890ff;
    color: #000;
}

.data_middle tr {
    color: #200101;
}

.paging_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paging_button>div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.paging_button>div>span {
    margin-right: 10px;
    color: red;
}

.ant-pagination {
    margin-left: -150px;
}

.label {
    display: inline-block;
    width: 100px;
    text-align-last: justify;
}


.title {
    width: 75px;
    height: auto;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px black;
    /* 添加文字凸起效果 */
    margin-top: -52px;
    margin-left: -458px;
    margin-right: 250px;
    background-color: #dc143c;
    /* 阮红色 */
}

.search_top {
    display: flex;
    align-items: center;
}

.search_top .search_input {
    width: 300px;
    /* 修改宽度 */
}

.search_input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
  }
  
  .search_input:focus {
    border-color: #007bff;
  }

  /* 搜索框 */
.search_input {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}

.search_input:focus {
  border-color: #007bff;
}

/* 查询和新增按钮 */
.input_button {
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input_button:hover {
    background-color: #fff;
    color: #007bff;
  }

  .input_button_add{
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #b81111;
    background-color: #790707;
    color: #fae3e3;
    border-radius: 5px;
    cursor: pointer;
  }

  .input_button_add:hover{
    background-color: #61e304;
    color: #012a55;
  }